# Laravel-каркас генерируется bootstrap.sh — не коммитим
/app-src/

# Локальное окружение
*.log

# Laravel runtime
/vendor/
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/public/storage
/public/hot
.phpunit.result.cache
