# services/ingest
FILESYSTEM_DISK=local
# S3-совместимый (Selectel):
# FILESYSTEM_DISK=s3
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_BUCKET=growthpeak
# AWS_ENDPOINT=https://s3.storage.selcloud.ru
# AWS_DEFAULT_REGION=ru-1

GEOIP_DB_PATH=/var/lib/geoip/GeoLite2-City.mmdb
INGEST_MAX_UPLOAD_MB=50
